# Secret Keys for Internal Microservice Communication
AUTH_SERVICE_KEY=auth-service-secret-key-12345
EVENT_SERVICE_KEY=event-service-secret-key-12345
BOOKING_SERVICE_KEY=booking-service-secret-key-12345
PAYMENT_NOTIFICATION_KEY=payment-service-secret-key-12345

# JWT Secret Key and Expiration
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250655368566D5971
JWT_EXPIRATION=86400000

# Database Passwords & Credentials
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespassword

# Ports Configuration
GATEWAY_PORT=8080
AUTH_SERVICE_PORT=8081
EVENT_SERVICE_PORT=8082
BOOKING_SERVICE_PORT=8083
PAYMENT_SERVICE_PORT=8084
REDIS_PORT=6379
